:root {
    --fuentePrincipal: "Karla", sans-serif;
    --Cyan: hsl(179, 62%, 43%);
    --Bright_Yellow: hsl(71, 73%, 54%);
    --Light_Gray: hsl(204, 43%, 93%);
    --Grayish_Blue: hsl(218, 22%, 67%);
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Light_Gray);
    font-family: var(--fuentePrincipal);
}
.container {
    display: grid;
    width: 90%;
    grid-template-columns: 1fr;
    max-width: 800px;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        height: 500px;
    }
}
.community {
    grid-column: 1 / -1;
    background-color: white;
    h1 {
        color: var(--Cyan);
        margin: 20px 50px;
    }
    h2 {
        color: var(--Bright_Yellow);
        margin-left: 50px;
    }
    p {
        color: var(--Grayish_Blue);
        margin: 0px 50px;
        line-height: 1.7;
    }
}
.month {
    background-color: var(--Cyan);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    h2 {
        color: white;
        margin-left: 50px;
    }
    .per {
        color: var(--Light_Gray);
        margin-left: 50px;
    }
    span {
        font-size: 34px;
        font-weight: 700;
        color: white;
    }
    p {
        color: white;
        margin-left: 50px;
    }
}
.btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.btn {
    padding: 15px 80px;
    border: none;
    border-radius: 5px;
    background-color: var(--Bright_Yellow);
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
.btn:hover {
    background-color: hsla(71, 73%, 64%, 0.9); /* Slightly darkened yellow */
    color: white;
}
.why {
    background-color: hsla(179, 62%, 43%, 0.8);
    h2 {
        color: white;
        margin-left: 50px;
    }
    p {
        color: var(--Light_Gray);
        line-height: 1.7;
        margin-left: 50px;
        margin-right: 110px;
    }
}

/* Media Query para pantallas menores a 768px */
@media (max-width: 767px) {
    .container {
        grid-template-columns: 1fr;
    }
    button{
        margin-bottom: 20px;
    }
}
